*{
	margin: 0;
	padding: 0;
}

.navbar{
border: none;
background-color: black;
color: #12613c;
}

body{
	background-color: #12613c;
	color: white;
}

.glyphicon{
	font-size: 30px;
	color:#12613c; 
}

.center{
	width: 90%;
	background-color: grey;

}

.container
{
	background-color: grey;
}

.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}

#myNavbar ul li a {
	color:#ffff;
}

.navbar-brand{
font-size: 30px;
color:#ffff;
}